/* Variables */

//
// Typography
//

// Families
$type-family-base: 'Publico Text Mono Web Roman', 'Monaco', monospace
$type-family-bold: 'Publico Text Mono Web Bold', 'Monaco', monospace

// Sizes
$type-size-base: 28px

// Leading
$type-leading-base: 1.35